@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
body {
  margin: 0;
}

#hero {
  background: url("../imgs/back1.jpg");
  background-position: top !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  height: 50vh;
  padding-top: 10px;
  padding-left: 10%;
}

.heroIntroText {
  width: 40%;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: left;
}

.heroIntroText .heroIntroTitle {
  font-family: 'Roboto', sans-serif;
  font-size: 50pt;
  font-weight: 500;
  margin-bottom: 15px;
}

.heroIntroText .heroIntroSubtitle {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 20pt;
  margin-bottom: 20px;
}

.heroIntroText .heroIntroButton {
  font-family: 'Roboto', sans-serif;
  margin-right: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 15px 20px;
  border-radius: 4px;
  background-color: white;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: black;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  border: 0;
  line-height: inherit;
}

.heroIntroText .heroIntroButton:hover {
  background-color: #353535;
  color: white;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: auto;
  width: 95%;
  height: auto;
  color: white;
  margin-bottom: 10%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar .logo {
  width: 7%;
  font-family: 'Roboto', sans-serif;
  font-size: 25pt;
  margin-right: 30px;
  color: white;
  text-decoration: none;
  font-weight: 700;
}

.navbar .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .menu .menuItem {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-flow: row-reverse;
          flex-flow: row-reverse;
  font-family: 'Roboto', sans-serif;
  font-size: 17pt;
  margin-right: 20px;
  color: white;
  text-decoration: none;
}

.navbar .menu .menuItem:hover {
  text-decoration: underline;
}

.cards {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-size: 25pt;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.cards .card {
  background-color: white;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 30px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px 0 rgba(0, 0, 0, 0.1);
}

.cards .card .cardTexts {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  padding: 35px 33px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.cards .card .cardTexts .cardTitle {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Roboto", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cards .card .cardTexts .cardText {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
  display: none;
}

.cards .card .cardTexts hr {
  display: none;
}

.cards .card .cardImg {
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  border-radius: 10px 10px 0 0;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  -webkit-box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
          box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
}

.cards .card:hover .cardTexts {
  -webkit-box-flex: 7;
      -ms-flex: 7;
          flex: 7;
}

.cards .card:hover .cardTexts .cardTitle {
  font-family: "Roboto", sans-serif;
}

.cards .card:hover .cardTexts .cardText {
  font-family: "Roboto", sans-serif;
  font-size: 15pt;
  display: inline;
}

.cards .card:hover .cardTexts hr {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.cards .card:hover .cardImg {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#pentagoneImg {
  background: url("../imgs/pentagone.jpg");
}

#bioImg {
  background: url("../imgs/photo profil petit.png");
}

#projetImg {
  background: url("../imgs/test.png");
}

#sec2,
#sec4 {
  background-color: #eedddd85;
  height: 30vh;
  padding: 30px 0 30px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sec2 .setionTitle,
#sec4 .setionTitle {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 25px;
}

#sec3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #484848;
  height: 40vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sec3 .setionTitle {
  color: white;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 50px;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 25px;
}

#sec3 #player {
  width: 1000px;
  height: 565px;
}

#sec5 {
  background-color: #484848;
  height: 30vh;
}
/*# sourceMappingURL=index.css.map */